html {
	position: relative;
	min-height: 100%;
}

body {
	background: linear-gradient(to bottom, #4479aa 5%, #1d568b 100%);
	background-attachment: fixed;
	background-color: #4479aa;
	background-repeat: no-repeat;
	color: white;
	height: 100%;
	margin: 0 0 40px;
	text-align: center;
	text-shadow: 0px 1px 0px black;	
}

button {	
	background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color: #2e466e;
	border: 1px solid #1f2f47;
	border-radius: 6px;
	box-shadow: 3px 3px 0px 0px #23395e;
	color: white;
	display: inline-block;
	margin: 10px 10px 25px 10px;
	padding: 12px 44px;
	text-shadow: 0px 1px 0px #263666;	
}

button:hover {
	background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color: #415989;
}

button:active {
	position: relative;
	top: 1px;
}

footer {
	background-color: #58738b;
	bottom: 0;
	height: 40px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;	
}

footer p {
	font-size: 16px;
	margin-top: 12px;
}

h1 {
	font-size: 42px;
}

legend {
	font-size: 30px;
}

.rules {
	border: 2px black solid;
	font-size: 20px;
	margin: 0 auto;
	margin-bottom: 15px;	
	text-align: left;	
	width: 75%;
}

.roundCard {
	height: 500px;
}

@media (min-width: 768px) {
	.rules {
		width: 62.5%;
	}
}

@media (min-width: 1024px) {
	.rules {
		width: 50%;
	}
}
